h1{
  color: white;
  font-weight: bold;
}
.neighbourhood{
  /* background-image: url("/static/background/neighbourhood2.jpg"); */
  background-color: rgb(77, 74, 74);
  background-size: contain;
  background-position: center;
  min-height: 350px;
}
.neighbourhood>h2{
  color: white;
}
.selection{
  background-color:rgb(17 159 175);
}
.body{

  background-image: url("/static/background/neighbourhood2.jpg");
  background-attachment: fixed;
}
.social, .business, .general{
  background-color: rgb(17 159 175);
  opacity:80%;
}