h1{
  color: white;
  font-weight: bold;
}
.neighbourhood{
  /* background-image: url("/static/background/neighbourhood2.jpg"); */
  background-color: rgb(77, 74, 74);
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  min-height: 350px;
}
.neighbourhood>h2{
  color: white;
}
.selection{
  background-color:rgb(145, 141, 141)
}
.body{
  background-color: green;
}