{% extends 'common/base.html' %}

{% block content %}

<div class="container">
  <div class="neighbourhood">
    <img class="img-fluid" src="/static/background/neighbourhood2.jpg" alt="image" srcset="">
    <h2 class="text-center">Phoenix Neighbourhood</h2>
  </div>

  <div class="text-center">
    <h2>About</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id eleifend justo. 
      Proin vulputate lorem eget orci fringilla, vel fringilla eros tincidunt. 
      Aenean et lectus viverra, scelerisque dui ut, finibus sapien. Etiam quis tristique tellus. 
      Proin iaculis dui id congue imperdiet. Nulla ac elit neque. Nunc vestibulum mattis condimentum. 
      Donec placerat diam eu congue interdum. Cras vitae urna leo. Integer commodo purus sem, nec tempor velit auctor vitae. 
      Nunc fermentum nisi non mi lobortis finibus. Vestibulum eget neque vel velit semper condimentum sit amet at massa.
    </p>
  </div>

  <div class="selection">
    <h2 class="text-center">Registered Neighbourhoods</h2>
    {% for neighbourhood in neighbourhoods %}
      <a href="{% url 'businesses' neighbourhood.neighbourhood_name %}" value="{{neighbourhood.neighbourhood_name}}">{{neighbourhood.neighbourhood_name}}</a>
      <!-- <h3 class="btn btn-primary">{{neighbourhood.neighbourhood_name}}</h3> -->
    {%endfor%}
  </div>

</div>

{% endblock %}